# Core ML
torch
transformers
datasets
numpy
pandas

# App
streamlit

# Visualization
matplotlib
seaborn
plotly

# Text Processing
emoji 
googletrans==4.0.0-rc1
langdetect


sqlalchemy  # optional, for ORM style


